<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ajayhao.simplelab.dal.mapper.InvestMapper">

    <resultMap id="RM-INVEST-INFO" type="com.ajayhao.simplelab.dal.entity.InvestInfoDO">
        <result property="id" column="id" />
        <result property="projectName" column="project_name" />
        <result property="projectType" column="project_type" />
        <result property="mainChannel" column="main_channel" />
        <result property="subChannel" column="sub_channel" />
        <result property="cost" column="cost" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
        <result property="income" column="income" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
        <result property="beginDate" column="begin_date" />
        <result property="endDate" column="end_date" />
        <result property="creatorId" column="creator_id" />
        <result property="createTm" column="create_tm" />
        <result property="modifierId" column="modifier_id" />
        <result property="modifyTm" column="modify_tm" />
    </resultMap>

    <sql id="Invest_Info_List">
          id, project_name, project_type, main_channel, sub_channel, cost, income, begin_date, end_date, creator_id, create_tm, modifier_id, modify_tm
    </sql>

    <select id="queryInvestInfoList" resultMap="RM-INVEST-INFO">
        SELECT
      <include refid="Invest_Info_List" />
        FROM invest_info
        WHERE 1=1
        <if test="id != null and id != ''">
            <![CDATA[
              AND id = #{id}
            ]]>
        </if>
    </select>

    <select id="queryInvestInfo" resultMap="RM-INVEST-INFO">
        SELECT
        <include refid="Invest_Info_List" />
        FROM invest_info
        WHERE id = #{id}
    </select>

    <insert id="insertInvestInfo">
        insert into invest_info
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="projectName != null" >
                project_name,
            </if>
            <if test="projectType != null" >
                project_type,
            </if>
            <if test="mainChannel != null" >
                main_channel,
            </if>
            <if test="subChannel != null" >
                sub_channel,
            </if>
            <if test="cost != null" >
                cost,
            </if>
            <if test="income != null" >
                income,
            </if>
            <if test="beginDate != null" >
                begin_date,
            </if>
            <if test="endDate != null" >
                end_date,
            </if>
            <if test="creatorId != null" >
                creator_id,
            </if>
            <if test="modifierId != null" >
                modifier_id,
            </if>
                create_tm,
                modify_tm,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="projectName != null" >
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectType != null" >
                #{projectType,jdbcType=VARCHAR},
            </if>
            <if test="mainChannel != null" >
                #{mainChannel,jdbcType=VARCHAR},
            </if>
            <if test="subChannel != null" >
                #{subChannel,jdbcType=VARCHAR},
            </if>
            <if test="cost != null" >
                #{cost,jdbcType=DECIMAL},
            </if>
            <if test="income != null" >
                #{income,jdbcType=DECIMAL},
            </if>
            <if test="beginDate != null" >
                #{beginDate,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null" >
                #{endDate,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null" >
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="modifierId != null" >
                #{modifierId,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
        </trim>
    </insert>

    <delete id="deleteInvestInfo">
        delete from invest_info
         where id = #{id}
    </delete>

</mapper>