#import_css("/vendor/datatables/css/dataTables.bootstrap.min.css")
#import_css("/vendor/datatables-responsive/dataTables.responsive.css")
#import_css("/vendor/datatables-select/css/select.dataTables.min.css")
#import_css("/dist/css/site.css")
#import_script("/vendor/datatables/js/jquery.dataTables.js")
#import_script("/vendor/datatables/js/dataTables.bootstrap.min.js")
#import_script("/vendor/datatables-responsive/dataTables.responsive.js")
#import_script("/vendor/datatables-select/js/dataTables.select.min.js")
#import_script("/dist/js/invest/invest.js")
<div id="app">
    <div class="row">
        <div class="col-lg-12">
             <h1 class="page-header">投资信息</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    投资记录
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTable">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>项目名称</th>
                                <th>项目类型</th>
                                <th>项目类型描述</th>
                                <th>主渠道</th>
                                <th>主渠道描述</th>
                                <th>子渠道</th>
                                <th>子渠道描述</th>
                                <th>起投日</th>
                                <th>到期日</th>
                                <th>投资金额</th>
                                <th>投资收益</th>
                                <th>年化收益率</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="10">合计</th>
                                <th></th>
                                <th></th>
                                <th> - </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="formModalLabel">编辑记录</h4>
                </div>
                <div class="modal-body">
                    <form :model="appForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="projectName" class="col-sm-3 control-label">项目名称</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="projectName" v-model="appForm.projectName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectType" class="col-sm-3 control-label">项目类型</label>
                            <div class="col-sm-6">
                                <v-select id="projectType" v-model="appForm.projectType" :options="projectTypeDict"
                                          lang="zh-CN" options-label="paramValue" options-value="paramCode" clear-button>
                                </v-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mainChannel" class="col-sm-3 control-label">主渠道</label>
                            <div class="col-sm-6">
                                <v-select id="mainChannel" v-model="appForm.mainChannel" :options="mainChannelTypeDict"
                                          lang="zh-CN" options-label="paramValue" options-value="paramCode" clear-button>
                                </v-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subChannel" class="col-sm-3 control-label">子渠道</label>
                            <div class="col-sm-6">
                                <v-select id="subChannel" v-model="appForm.subChannel" :options="subChannelTypeDict"
                                          lang="zh-CN" options-label="paramValue" options-value="paramCode" clear-button>
                                </v-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="beginDate" class="col-sm-3 control-label">起投日期</label>
                            <div class="col-sm-6">
                                <v-datepicker id="beginDate"  v-model="appForm.beginDate" format="yyyy-MM-dd" clear-button></v-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDate" class="col-sm-3 control-label">到期日期</label>
                            <div class="col-sm-6">
                                <v-datepicker id="endDate"  v-model="appForm.endDate" format="yyyy-MM-dd" clear-button></v-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cost" class="col-sm-3 control-label">投资金额</label>
                            <div class="col-sm-4 input-group">
                                <div class="input-group-addon">￥</div>
                                <input id="cost" type="number" min="0.00" class="form-control" v-model="appForm.cost" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="income" class="col-sm-3 control-label">投资收入</label>
                            <div class="col-sm-4 input-group">
                                <div class="input-group-addon">￥</div>
                                <input id="income" type="number" step="0.01" class="form-control" v-model="appForm.income" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
##                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">提交</button>
                    <button type="button" class="btn btn-primary" @click="submitConfirm">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="confirmModal" class="modal" tabindex="0" role="dialog" aria-labelledby="confirmModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="confirmModalLabel" class="modal-title">确认提交</h4>
                </div>
                <div class="modal-body">
                    <p>{{confirmMsg}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="submit">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <v-modal id="resultModal"  effect="zoom" small="true">
        <!-- custom header -->
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                <b>返回信息</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-header">
            <p>{{retMsg}}</p>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click="hideRetModal">关闭</button>
        </div>
    </v-modal>

</div>


